/*
**  Troops viewer CSS
*/

.troop-title {
  padding: 20px 0;
  text-align: center;
  background-color: #777;
  color: #FFF;
}

div.cards-viewport { width: 100%; }

div.unit-card {
  width: 90%;
  max-width: 800px;
  flex-shrink: 0;
  margin: 5px;
  padding: 5px;
  border: 1px solid #777;
}

div.unit-card > h4 { text-align: center; }

div.unit-card > ul {
  margin: 0;
  padding: 0;
}

div.unit-card > ul > li { display: block; }

table.troop-stats {
  margin: 5px 0;
  border-top: 1px solid #777;
  border-bottom: 1px solid #777;
}

table.troop-stats > tbody > tr > td > div > div:first-child { margin: 0 5px; }
table.troop-stats > tbody > tr > td,
table.troop-stats > thead > tr > th {
  width: 25%;
}

div.stat-bar,
div.stat-bar > p { min-height: 10px; }

div.stat-bar {
  flex: 1;
  padding: 2px;
  background-color: #333;
}

div.stat-bar > p {
  margin: 0;
  background-color: #999;
}

.eff-pos { color: green; }
.eff-neg { color: red; }
